*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8f5f2;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#3e2723;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

.logo{
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:#d4a373;
}

/* Hero */

.hero{
    height:100vh;
    background:url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?w=1600")
    center/cover no-repeat;
}

.overlay{
    background:rgba(0,0,0,0.55);
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-text{
    text-align:center;
    color:white;
}

.hero-text h2{
    font-size:65px;
}

.hero-text p{
    font-size:22px;
    margin:15px 0;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:#d4a373;
    color:white;
    text-decoration:none;
    border-radius:30px;
}

.btn:hover{
    background:#b37a45;
}

/* Menu */

.menu{
    padding:90px 8%;
    text-align:center;
}

.menu h2{
    margin-bottom:40px;
    font-size:40px;
}

.menu-container{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:320px;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:15px 0;
}

.card p{
    padding:0 15px 20px;
}

/* About */



/* Gallery */

.gallery{
    padding:90px 8%;
    text-align:center;
}

.gallery h2{
    margin-bottom:40px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:12px;
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

/* Contact */

.contact{
    background:#f1e6dc;
    text-align:center;
    padding:80px 20px;
}

.contact h2{
    margin-bottom:20px;
}

.contact p{
    margin:10px;
    font-size:18px;
}

/* Footer */

footer{
    background:#3e2723;
    color:white;
    text-align:center;
    padding:20px;
}

/* Mobile */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .hero-text h2{
        font-size:40px;
    }

    .hero-text p{
        font-size:18px;
    }
}